html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.theme-light{
  --pc-transparent: #0000;
  --pc-static_white: #fff;
  --pc-bg_1: #f2f2f2;
  --pc-bg_2: #fff;
  --pc-bg_3: #e0e0e0;
  --pc-text_1: #111;
  --pc-text_2: #111;
  --pc-text_3: #545454;
  --pc-border_1: #d1d1d1;
  --pc-border_2: #d1d1d1;
  --pc-border_3: #d1d1d1;
  --pc-primary_1: #38a800;
  --pc-primary_2: #38a800;
  --pc-primary_3: #38a800;
  --pc-danger_1: #e55555;
  --pc-danger_2: #da474b;
  --pc-warning_1: #bd7700;
  --pc-warning_2: #efa00f;
  --pc-primary_gr: linear-gradient(180deg,#9ebe1c,#58a01f 72.5%);
  --pc-layouttoolsoverlapshadow: -4px 0px 3px -3px #00000080;
  --pc-popovershadow: 0 5px 40px #00000029;
  --pc-loadingmaskbackgroundcolor: #161616b3;
  --pc-fileborder: none;
  --pc-consolekeytextcolor: #000;
  --pc-consoleitemtextcolor: #afafaf;
  --pc-consoleinfotextcolor: #0a85bc;
  --pc-consolewarntextcolor: #bd7700;
  --pc-consoleerrortextcolor: #e61500;
  --pc-consoletypenulltextcolor: #757575;
  --pc-consoletypestringtextcolor: #032f62;
  --pc-consoletypenumbertextcolor: #757575;
  --pc-consolewarnbgcolor: #fcebdd;
  --pc-consoleerrorbgcolor: #fcc7d7;
  --el-color-primary: #38a800;
  --el-color-primary-light-3: #70be49;
  --el-color-primary-light-5: #95cd79;
  --el-color-primary-light-7: #badca9;
  --el-color-primary-light-8: #cde3c2;
  --el-color-primary-light-9: #dfebda;
  --el-color-primary-dark-2: #5db730;
  --el-color-success: #38a800;
  --el-color-success-light-3: #70be49;
  --el-color-success-light-5: #95cd79;
  --el-color-success-light-7: #badca9;
  --el-color-success-light-8: #cde3c2;
  --el-color-success-light-9: #dfebda;
  --el-color-success-dark-2: #5db730;
  --el-color-warning: #bd7700;
  --el-color-warning-light-3: #cd9c49;
  --el-color-warning-light-5: #d8b579;
  --el-color-warning-light-7: #e2cda9;
  --el-color-warning-light-8: #e7d9c2;
  --el-color-warning-light-9: #ede6da;
  --el-color-warning-dark-2: #c89030;
  --el-color-danger: #e55555;
  --el-color-danger-light-3: #e98484;
  --el-color-danger-light-5: #eca4a4;
  --el-color-danger-light-7: #eec3c3;
  --el-color-danger-light-8: #efd3d3;
  --el-color-danger-light-9: #f1e2e2;
  --el-color-danger-dark-2: #e87474;
  --el-color-error: #e55555;
  --el-color-error-light-3: #e98484;
  --el-color-error-light-5: #eca4a4;
  --el-color-error-light-7: #eec3c3;
  --el-color-error-light-8: #efd3d3;
  --el-color-error-light-9: #f1e2e2;
  --el-color-error-dark-2: #e87474;
  --el-color-info: #545454;
  --el-color-info-light-3: #838383;
  --el-color-info-light-5: #a3a3a3;
  --el-color-info-light-7: #c3c3c3;
  --el-color-info-light-8: #d2d2d2;
  --el-color-info-light-9: #e2e2e2;
  --el-color-info-dark-2: #747474;
  --el-box-shadow: 0px 12px 32px 4px #0000000a,0px 8px 20px #00000014;
  --el-box-shadow-light: 0px 0px 12px #0000001f;
  --el-box-shadow-lighter: 0px 0px 6px #0000001f;
  --el-box-shadow-dark: 0px 16px 48px 16px #00000014,0px 12px 32px #0000001f,0px 8px 16px -8px #00000029;
  --el-bg-color-page: #f2f2f2;
  --el-bg-color: #f2f2f2;
  --el-bg-color-overlay: #fff;
  --el-text-color-disabled: #1116;
  --el-text-color-placeholder: #1111118c;
  --el-text-color-secondary: #111111a6;
  --el-text-color-regular: #111;
  --el-text-color-primary: #111;
  --el-border-color-extra-light: #d1d1d133;
  --el-border-color-lighter: #d1d1d166;
  --el-border-color-light: #d1d1d180;
  --el-border-color: #d1d1d1e6;
  --el-border-color-dark: #bfbfbfb3;
  --el-border-color-darker: #d1d1d1;
  --el-fill-color-extra-light: #f2f2f2;
  --el-fill-color-lighter: #f2f2f2;
  --el-fill-color-light: #e0e0e040;
  --el-fill-color: #f2f2f2;
  --el-fill-color-dark: #f2f2f2;
  --el-fill-color-darker: #f2f2f2;
  --el-fill-color-blank: #0000;
  --el-mask-color: #fffc;
  --el-mask-color-extra-light: #ffffff4d;
}